*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.head{
    display: flex;
    align-items: center;
    padding: 6.7vw;
}

.first>img{
    height: 10vh;
}

.second{
    display: none;
}

.hamberger{
    margin-left: 60px;
}


#hamburger{
    height: 4.5vh;
}

/* main css */

.main{
    height: 685px;
    background-image: url(./background.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    padding-top: 20vh;
    padding-right: 18vw;
    padding-left: 9vw;
}

.verify{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.verify>h3{
    font-size: 23px;
    text-align: center;
    margin-bottom: 5vh;
}

.verify>img{
    height: 8vh;
    width: 8vh;
    margin-bottom: 5vh;

}

.verify>button{
    width: 177px;
    height: 68px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #61c256;
    font-weight: bold;
}


/* footer css */

.foot{
    padding-top: 5vh;
    background-color: #ebeadf;
    padding-left: 4.5vw;
    padding-right: 2vw;
    height: 128vh;
}

.links{
    display: flex;
    justify-content: space-evenly;
    /* width: ; */

}

.useful>strong, .legal>strong{
    font-size: 20px;
    /* margin-bottom: 6vh; */
}

li{
    margin-top: 3vh;
    font-size: 12px;
    margin-left: 5vw;
    font-family: inter, sans-serif;
}

.contact{
    margin-top: 7vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 48vh;
}


.contact>strong{
    font-family: Noto Sans;
    font-size: 20px;
}

.p{
    font-family:inter, sans-serif ;
    font-size: 16px;
    width: 60vw;
}

.contact>a{
    font-family:inter, sans-serif ;
    font-size: 16px;
    font-weight: bold;
    color: black;
    

}

.contact>span{
    font-family:inter, sans-serif ;
    font-size: 16px;
}

.contact>input{
    width: 300px;
    height: 43px;
    padding: 10px;
    border: none;
}

.contact>button{
    width: 230px;
    height:40px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 22px;
    margin-left: 10vw;
}

.follow{
    margin-top: 7vh;
    text-align: center;
    height: 27vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.follow>strong{
    font-family:inter, sans-serif ;
    font-size: 24px;
    text-align: center;
    width: 85vw;
    /* margin-bottom: 3vh; */
}

.last>p{
    font-family:inter, sans-serif ;
    font-size: 12px;
}

.social{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 85vw ;

}

.social>button{
    border: none;
    background-color: #ebeadf;
}